<div
    x-data="modal({ handle: '{{ modal.system.handle }}' })"
    @modal-open.window="e => open(e.detail)"
    @modal-close.window="close($event.detail)"
>
    <template x-if="isOpen">
        <aside class="fixed inset-0 h-full w-full z-99999 wb-flex justify-center items-center ">
            <div
                class="absolute inset-0 h-full w-full bg-black/50 z-10"
                x-show="isShown"
                @click="close()"
                x-transition.opacity.duration.300ms
            ></div>
            <div
                class="z-20 max-w-440 w-fit h-full flex flex-col justify-center mx-auto smd:h-fit"
                x-show="isShown"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
            >
                <div
                    class="overflow-auto mx-auto"
                    @wheel.stop
                    @touchmove.stop
                >

                    <div
                        class="flex flex-col relative w-fit"
                    >

                        {%- for item in modal.content.value -%}
                            {%- if item.system.type == 'membership' -%}

                              {% render 'membership-modal', item: item %}

                            {%- endif -%}
                        {%- endfor -%}
                
                    </div>            
                </div>
            </div>
        </aside>
    </template>
</div>

