<span x-cloak x-show="loading" class="absolute inset-0 flex items-center justify-center {% if class %}{{ class }}{% endif %}">
    <span class="animate-spin rounded-full h-4 w-4 border-2 border-dashed border-dash-offset-5 border-cream"></span>
</span>