{% capture slide_styles %}
    --width: 100%;
    --mobile-width: calc((100% / 1.25) - 8px);
    --mobile-margin-right: 10px;
{% endcapture %}
{% capture thumbnail_styles %}
    --desktop-margin-right: 10px;
    --desktop-width: calc((100% / 5) - 8px);
    --aspect-ratio: 1;
{% endcapture %}

{% if bundle_product == blank %}
    {% assign bundle_product = product %}
{% endif %}

{%  liquid 
    if bundle_product.metafields.custom.new_product_photos != blank and bundle_product.metafields.custom.new_product_photos.value.size > 0
        assign product_media = bundle_product.metafields.custom.new_product_photos.value
    else 
        assign product_media = bundle_product.media
    endif
%}

<div data-media-gallery-bundle class="max-w-[580px] w-full overflow-hidden">
    <div class="flex flex-col !max-w-[580px] gap-[17px]">
        <div class="swiper swiper-main max-w-[580px] max-h-[580px] w-full lg:aspect-square" x-ref="swiper">
            <div class="swiper-wrapper max-w-full max-h-full">
                {% for media in product_media %}
                    <div class="swiper-slide rounded-[5px] overflow-hidden" style="{{ slide_styles }}">
                        {{ media | image_url: width: 600 | image_tag: class: 'w-full h-full object-cover' }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-thumbs !max-w-[580px] w-full {% if hide_thumbnails_mobile %}hidden lg:block{% endif %}" x-ref="swiperThumbs">
            <div class="swiper-wrapper !max-w-[580px]">
                {% for media in product_media %}
                    <div class="swiper-slide rounded-[5px] overflow-hidden cursor-pointer {% if forloop.first %}swiper-slide-thumb-active{% endif %}" style="{{ thumbnail_styles }}">
                        {{ media | image_url: width: 600 | image_tag: class: 'w-full h-full object-cover' }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>