{% capture slide_styles %}
    --width: 100%;
    --mobile-width: calc((100% / 1.12) - 8px);
    --mobile-margin-right: 10px;
{% endcapture %}
{% capture thumbnail_styles %}
    --desktop-margin-right: 10px;
    --desktop-width: calc((100% / 5) - 8px);
    --aspect-ratio: 1;
{% endcapture %}

{% if bundle_product == blank %}
    {% assign bundle_product = product %}
{% endif %}

{%  liquid 
    if bundle_product.metafields.custom.new_product_photos != blank and bundle_product.metafields.custom.new_product_photos.value.size > 0
        assign product_media = bundle_product.metafields.custom.new_product_photos.value
    else 
        assign product_media = bundle_product.media
    endif
%}

<div data-media-gallery-bundle class="w-full overflow-hidden mx-auto md:mx-0 md:max-w-[545px]">
    <div class="flex flex-col gap-2 md:gap-4.5 md:!max-w-[545px]">
        <div class="swiper swiper-main product-gallery w-full md:max-h-[545px] md:max-w-[545px] lg:aspect-square" x-ref="swiper">
            <div class="swiper-wrapper max-w-full max-h-full">
                {% for media in product_media %}
                    <div
                        class="swiper-slide rounded-[5px] overflow-hidden before:content-[''] before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-kraft/15 before:rounded-[5px] before:-z-1{% if media.height > media.width or media.height < media.width %} [&_img]:object-contain!{% endif %}"
                        style="{{ slide_styles }}"
                    >
                        {{ media | image_url: width: 600 | image_tag: class: 'w-full h-full object-cover object-center', style: 'object-position: center;', alt: media.alt }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-thumbs w-full {% if hide_thumbnails_desktop %} block md:!max-w-[545px] lg:!hidden {% endif %}" x-ref="swiperThumbs">
            <div class="swiper-wrapper flex md:!max-w-[545px]">
                {% for media in product_media %}
                    <div
                        class="swiper-slide rounded-[5px] max-w-17 md:max-w-27 overflow-hidden cursor-pointer !aspect-square before:transition-all before:duration-300
                        {% if forloop.first %} swiper-slide-thumb-active{% endif %}
                        {% if media.height > media.width or media.height < media.width %} [&_img]:object-contain!{% endif %}"
                        style="{{ thumbnail_styles }}"
                    >
                        {{ media | image_url: width: 600 | image_tag: class: 'w-full !h-full object-cover object-center', style: 'object-position: center;', alt: media.alt }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% stylesheet %}
    .product-gallery:not(.swiper-initialized) .swiper-slide:nth-child(n+2) {
        display: none;
    }

    .product-gallery .swiper-slide {
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 1023px) {
        .product-gallery:not(.swiper-initialized) .swiper-slide {
            width: 100% !important;
        }
    }
{% endstylesheet %}
