<div class="{% if bundle_collection.products.size > 4 %} h-[436px] {% endif %} overflow-hidden relative">
    <div class="flavor-container flex flex-col gap-2.5
    {% if bundle_collection.products.size > 4 %} overflow-y-auto absolute {% endif %} top-0 left-0 w-full h-full py-2.5 pl-1 !pr-4">
        {% for child_product in bundle_collection.products %}
            {% liquid
            assign title = child_product.title | split: ' - ' | last
            assign image = child_product.metafields.custom.variant_selector_image
            assign flavor_description = child_product.metafields.airf.p_flavor | default: ''
            assign member_only = child_product.metafields.product.member_only | default: false

            assign product_badge = child_product.metafields.product.product_badge
            assign product_badge_text = product_badge.value.badge_text
            assign product_badge_color = product_badge.value.background_color
            assign product_badge_text_color = product_badge.value.text_color
            %}
            {% render 'product-selector', title: title, image: image, flavor_description: flavor_description, member_only: member_only, product_badge: product_badge, product_badge_text: product_badge_text, product_badge_color: product_badge_color, product_badge_text_color: product_badge_text_color, child_product: child_product, bundle_type: bundle_type %}
        {% endfor %}
    </div>
</div>