
<div
  x-data="tooltip()"
  @click.outside="open = false"
  class="relative inline-block"
>
  <!-- trigger -->
  <div
    x-ref="trigger"
    @mouseenter="showTooltip()"
    @mouseleave="hideTooltip()"
    @click="toggleTooltip()"
    class="cursor-pointer p-2 -m-2"
  >
    {% render 'icons', icon: 'info' %}
  </div>

  <template x-teleport="body">

    <!-- tooltip -->
    <div
      x-ref="tooltip"
      x-show="visible"
      x-transition.opacity.duration.200ms
      @mouseenter="hovering = true"
      @mouseleave="hideTooltip()"
      @resize.window="if (visible) setPosition()"
      @scroll.window="if (visible) setPosition()"
      class="fixed z-50 pt-2"
      :style="`left:${left}px;top:${top}px;`"
      style="display: none;"
    >
      <svg
        class="absolute -top-1"
        :style="`left:${arrowLeft}px; transform: translateX(-50%);`"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="12"
        viewBox="0 0 14 12"
        fill="none"
      >
        <path d="M6.9282 0L13.8564 12H0L6.9282 0Z" fill="#F2E6DC"/>
      </svg>

      <div class="tooltip-content w-[200px] max-w-[calc(100vw-16px)] font-['Roboto',sans-serif] font-normal rounded bg-[#F2E6DC] p-3 text-left text-xs leading-snug text-[#431A03] shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]">
        {{ content }}
      </div>
    </div>
  </template>
</div>