<div class="flex justify-center items-center absolute top-0 right-1 left-0 w-auto mx-auto z-[3]">
    <div class="relative w-full">
        <div class="wb-flex gap-1 items-center text-white text-center text-2xl font-bold py-1.5 md:py-2.5 px-2 md:px-4 w-full h-full relative z-[2]">
            {% render 'icons', icon: 'crown', class: 'min-w-5 text-white' %}
                <span class="text-xs font-kurdis-semi-condensed font-bold whitespace-nowrap text-cream">VIP/Elite Only</span>
            {% render 'tooltip', content: settings.member_tooltip, class: 'text-cream' %}
        </div>
        <svg preserveAspectRatio="none" class="absolute inset-0 !max-w-none !w-[calc(100%+4px)] h-full shadow-button" xmlns="http://www.w3.org/2000/svg"  xmlns="http://www.w3.org/2000/svg" width="200" height="36" viewBox="0 0 200 36" fill="none">
            <path d="M1.8512 3.74344C0.278832 5.83156 0.215804 8.29238 0.189266 10.6514C0.126239 16.2652 0.0665286 21.8767 0.00350095 27.4906C-0.0130853 29.0161 -0.00976801 30.6042 0.955549 31.9724C3.28094 35.262 6.21669 35.9796 14.9012 35.9796C73.152 35.9796 131.406 36.1023 189.66 35.7458C191.727 35.7342 193.996 35.8083 195.691 34.9818C200.285 32.7433 199.784 28.6527 199.645 25.6177C199.386 19.9669 200 15.323 200 9.6698C200 5.71581 199.366 4.12773 197.489 2.5628C195.084 0.555705 190.075 0.641359 186.323 0.588114C161.656 0.233922 136.976 0.0510379 112.299 0.0093682C87.4626 -0.0346165 62.6264 0.0765028 37.7902 0.338096C30.7842 0.412176 23.7815 0.49783 16.7788 0.597374C11.4911 0.671454 4.78365 -0.143421 1.8512 3.74344Z" fill="#AF7404"/>
        </svg>
    </div>
</div>