{% liquid
  assign product = section.settings.product
%}

<div class="max-w-[1092px] text-4xl mx-auto px-6 py-10 md:py-20 xl:px-0" id="product-reviews">
  {% if section.blocks.size > 0 %}
    <div class="okendo-reviews-widget__intro mb-4">
      {% content_for 'blocks' %}
    </div>
  {% endif %}

  {% render 'okendo-reviews-widget', product: product %}
</div>

{% schema %}
{
  "name": "Okendo Reviews Widget",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "blocks": [
    {
      "type": "_heading"
    },
    {
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "Okendo Reviews Widget",
      "category": "Product",
      "blocks": [
        {
          "type": "_heading",
          "settings": {
            "text": "<h2>Reviews</h2>",
            "type_preset": "h2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
