@import "tailwindcss" source("../..");

@theme {
    --breakpoint-sm: 30rem; /* 480px */
    --color-gold: #FFD700;
    --color-sky-blue: #BFD7E9;
    --color-grey-tag: #E1E1E1;
    --color-light-sky: #D9EAF7;
    --color-bear-black: #1B1B1B;

}

[x-cloak] {
    display: none;
}

.wb-grid {
    display: grid;
}

.wb-flex {
    display: flex;
}