@import "tailwindcss" source("../..");

@theme {
    --breakpoint-sm: 30rem; /* 480px */
    --breakpoint-smd: 48rem; /* 768px */
    --breakpoint-md: 64rem; /* 1024px */
    --breakpoint-lg: 80rem; /* 1280px */
    --breakpoint-xl: 96rem; /* 1536px */
    --breakpoint-2xl: 112rem; /* 1792px */
    --breakpoint-3xl: 128rem; /* 2048px */
    --breakpoint-4xl: 144rem; /* 2304px */
    --color-gold: #FFD700/100%;
    --color-dark-gold: #AF7404/100%;
    --color-sky-blue: #BFD7E9/100%;
    --color-grey-tag: #E1E1E1/100%;
    --color-light-sky: #D9EAF7/100%;
    --color-bear-black: #1B1B1B;
    --color-bear-black/100: #1B1B1B/100%;
    --color-espresso: #431A03;
    --color-espresso/100: #431A03/100%;
    --color-cream: #F7F7F7/100%;
    --color-cream-200: #F2E6DC/100%;
    --color-kraft: #805C33/100%;
    --color-foam: #FEF8F3/100%;
    --color-dark-foam: #F9F3ED/100%;
    --color-white: #FFFFFF/100%;
}

@layer utilities {
    .wb-grid {
        display: grid;
    }
    
    .wb-flex {
        display: flex;
    }

    html:has(body.no-scroll),
    body.no-scroll {
        overflow: hidden;
    }
}

.wb-grid {
    display: grid;
}

.wb-flex {
    display: flex;
}

[x-cloak] {
    display: none !important;
}

.email-signup__input {
    font-family: var(--font-kurdis-semi-condensed) !important;
    font-weight: 600 !important;
}

.shadow-button {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper.multi-collection-slider .swiper-button-disabled {
    pointer-events: auto !important;
 }

.founders-video .deferred-media__poster-icon.icon-play {
    z-index: 3
}