.footer-block {
    img {
        max-width: 111px;
        margin: 0 auto;
    }

    h3 {
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0 !important;
        font-family: var(--font-kurdis-condensed) !important;
    }

    p {
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0 !important;
        font-family: var(--font-kurdis-semi-condensed) !important;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0 !important;
    }

    .email-signup__button.custom {
        background-color: transparent;
        padding: 17px 0 23px 0;
        width: 126px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: transparent;

            svg {
                fill: var(--color-primary-button-hover-background);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 0 !important;
    
        .footer-block {
          order: 1 !important;
        }

        .menu--accordion {
            order: 2 !important;
            border-top: 2px solid var(--color-espresso);
        }

        .email-signup__input-group {
            flex-direction: row !important;
            margin-bottom: 34px !important;
        }
    }
}