.tooltip-content a {
    text-decoration: underline !important;
}

/* @media screen and (min-width: 749px) {
  .header-drawer-icon svg {
    display:  none;
  }
} */

@media screen and (min-width: 749px) {
  header-component[data-menu-style='menu'] .header-drawer-icon--open {
    display:  none;
  }
}


.drawer-menu-list .drawer-menu-item:first-of-type a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #955325;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.section.header__row {
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


/* .drawer-menu-list {
    .drawer-menu-item a {
      position: relative;
    }
  
    .drawer-menu-item a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #955325;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  
    .drawer-menu-item:first-of-type a::after {
      opacity: 1;
    }
  
    .drawer-menu-item:hover a::after {
      opacity: 1;
    }
  
    &:has(.drawer-menu-item:not(:first-of-type):hover)
      .drawer-menu-item:first-of-type a::after {
      opacity: 0;
    }
  } */