[data-media-gallery-bundle] .swiper-main .swiper-slide {
    width: var(--width);
}

[data-media-gallery-bundle] .swiper-thumbs .swiper-slide {
    width: var(--desktop-width);
    margin-right: var(--desktop-margin-right);
    aspect-ratio: var(--aspect-ratio);
}

[data-media-gallery-bundle] .swiper-thumbs .swiper-slide-thumb-active {
    border: 2px solid var(--color-espresso);
}

@media screen and (max-width: 1023px) {
    [data-media-gallery-bundle] .swiper-main {
        display: flex;
        justify-content: center;
    }

    [data-media-gallery-bundle] .swiper-main .swiper-slide {
        width: var(--mobile-width);
        margin-right: var(--mobile-margin-right);
    }

    [data-media-gallery-bundle] .swiper-thumbs {
        width: calc(100% - 42px);
        margin: 0 auto;
    }

    [data-media-gallery-bundle] .swiper-thumbs .swiper-slide {
        aspect-ratio: auto;
    }
}