[data-media-gallery-bundle] .swiper-slide {
    width: var(--width);
}

[data-media-gallery-bundle] .swiper-thumbs .swiper-slide {
    width: var(--desktop-width);
    margin-right: var(--desktop-margin-right);
}

[data-media-gallery-bundle] .swiper-thumbs .swiper-slide-thumb-active {
    border: 2px solid var(--color-espresso);
}